<footer>
        <a
          class="mt-6 flex rounded-lg"
          href="https://vercel.com/?utm_source=t3-oss&utm_campaign=oss"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            src="/images/powered-by-vercel.svg"
            class="h-10 w-full"
            alt="Powered by Vercel"
          />
        </a>
</footer>
